---
layout: default
title: Servo_Test
---
<!-- HEADER -->
<!--section id="downloads">
	<a class="zip_download_link" href="https://github.com/Weber-Hsu/AR_robot_analysis/zipball/master">Download this project as a .zip file</a>
	<a class="tar_download_link" href="https://github.com/Weber-Hsu/AR_robot_analysis/tarball/master">Download this project as a tar.gz file</a>
</section-->
<!--section class="page-header">
        <a href="https://github.com/Weber-Hsu/AR_robot_analysis/zipball/master" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
</section-->
<div id="header_wrap" class="page-header">
        <!--header class="inner"-->
          <a id="forkme_banner" href="https://github.com/Weber-Hsu/AR_robot_analysis">View on GitHub</a>

          <h1 id="project_title">Ar robot analysis</h1>
          <h2 id="project_tagline"></h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/Weber-Hsu/AR_robot_analysis/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/Weber-Hsu/AR_robot_analysis/tarball/master">Download this project as a tar.gz file</a>
            </section>
        <!--/header-->
    </div>
<div id="header_wrap" class="page-header">
<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
</div>
<div class="blurb">
	<h1>Hi there, I'm s</h1>
	<p>I'm best known as the horrible cop from <em>A Touch of Evil</em> Don't trust me. <a href="/about">Read more about my life...</a></p>
</div><!-- /.blurb -->
